@tailwind base;
@tailwind components;
@tailwind utilities;

#linear-gauge {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: inherit;
  }
  
  
  .svg-container {
      display: inline-block;
      position: relative;
      width: 100%;
      padding-bottom: 30%; /* aspect ratio */
      vertical-align: bottom;
      overflow: hidden;
    
  }
  .svg-content-responsive {
      display: inline-block;
      position: absolute;
      margin-top: 30px;
      left: 0;
  }
  
  svg text{
  font-size: 1.2em;
  font-family: sans-serif;
  }
  
  